@page "/"

<h1>Hello, world!</h1>

<label>Go to Fetch Data page to see the 
    <NavLink href="/fetchdata">
        <strong style="font-size: 18px">Pull to Refresh Fuctionality</strong>
    </NavLink>
</label>

<SurveyPrompt Title="How is Blazor working for you?" />
